<!DOCTYPE html>
<html lang="en">
<head>
    <title>Regional Transliteration Services | Home</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons-->
    <link rel="shortcut icon" href="assets/images/icon.png" type="image/x-icon"/>
    
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!--style-->
    <link href="assets/css/normalize.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Fancybox CSS -->
    <link href="assets/fancybox/jquery.fancybox.css?v=2.1.4" rel="stylesheet" />

    <!--Font-Awesome-->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">

    <!-- ionic icons -->
    <link rel="stylesheet" href="assets/ionic-fonts/css/ionicons.min.css">

    <!--Animate.css-->
    <link rel="stylesheet" href="assets/animatecss/animate.css">

    <!-- Flexslider CSS -->
    <link href="assets/flexslider/flexslider.css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="assets/owl/owl.carousel.css" rel="stylesheet">
    <link href="assets/owl/owl.theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/owl/owl.transitions.css">

    <!-- bootstrap slider -->
    <link rel="stylesheet" type="text/css" href="assets/slider/bootstrap-touch-slider.css">

    <!--google fonts-->    
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Montserrat:300,400,900" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700|Montserrat:300,400,700|Oswald:300,400,600" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

	<!-- navigationBar -->
	<div class="navigationBar">
		<div class="containerWrapper">
			<!-- navigationBarContent -->
		    <div class="navigationBarContent">
			    <nav role="navigation" class="navbar navbar-default">

			        <!-- Brand and toggle get grouped for better mobile display -->
			        <div class="navbar-header">
			        	<a class="navbar-brand" href="index.html">
				        	<img alt="Regional Transliteration Services" src="https://thumbs.dreamstime.com/b/background-ss-243086005.jpg">
				      	</a>
				      	<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			                <span class="sr-only">Toggle navigation</span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </button>
			        </div>
			        <!-- Collection of nav links and other content for toggling -->
			        <div id="navbarCollapse" class="collapse navbar-collapse">
			            <ul class="nav navbar-nav">
			                <li class="active"><a href="index.html">Home</a></li>
			                <li><a href="#">About Us</a></li>
			                <li><a href="#">Services</a></li>
			                <li><a href="#">Our Group</a></li>
			                <li><a href="#">Contact Us</a></li>
			            </ul>
			        </div>
			    </nav>
			</div><!-- navigationBarContent -->
		</div>
	</div><!-- End of navigationBar -->
	
	<!-- banner-slider-section -->
    <div class="banner-slider-section">
        <!-- banner-slider -->
        <div id="banner-slider" class="owl-carousel banner-slider-full">
            <div class="item">
                <div class="banner-info">
                	<div class="containerWrapper">
	                	<p>We are</p>
	                    <h1 class="bannerInfoHeading">Leading Translation Service Providers</h1>
	                    <div class="clear"></div>
	                    <a href="#Overview" class="btn-transparent btn-rounded">Get Started!</a>
	                </div>
                </div>
                <div class="replaceImg" style="background: url(assets/images/slide1.jpg) center no-repeat;"></div>
            </div>
            <div class="item">
                <div class="banner-info">
                	<div class="containerWrapper">
	                    <p>We Provide</p>
	                    <h2 class="bannerInfoHeading">Quality Regional language Translation Service</h2>
	                </div>
                </div>
                <div class="replaceImg" style="background: url(assets/images/overviewSectionbg.jpg) center no-repeat;"></div>
            </div>
            <div class="item">
                <div class="banner-info">
                	<div class="containerWrapper">
	                    <h2 class="bannerInfoHeading">Vision</h2>
	                    <p>"To provide an communication platform for rural people from an idea to a reality"</p>
	                </div>
                </div>
                <div class="replaceImg" style="background: url(assets/images/slide3.jpg) center no-repeat;"></div>
            </div>
            <div class="item">
                <div class="banner-info">
                	<div class="containerWrapper">
		            	<p>We are</p>
		                <h2 class="bannerInfoHeading">Dedicated for helping Regional/Native Users</h2>                    
		            </div>
                </div>
                <div class="replaceImg" style="background: url(assets/images/slide4.jpg) center no-repeat;"></div>
            </div>
        </div><!-- End of banner-slider -->

        <div class="down-arrow-box">
            <strong>Scroll Down</strong>
            <a href="#Overview">
                <i class="fa fa-angle-double-down"></i>
            </a>
        </div>
    </div><!-- banner-slider-section -->

    <!-- aboutSection -->
    <section data-type="background" data-speed="10" class="aboutSection" id="Overview">
    	<div class="aboutBlocksContainer">
			<div class="aboutBlocks aboutBlocksNo1">
				<i class="fa fa-group"></i>
	    		<h3>About Us</h3>
				<div class="aboutBlocksInner">					
		    		<p>For over 20 years, EMS offered government, corporate and legal support for many local, international and multinational organizations in Abu Dhabi and Dubai.</p>
		    		<a href="#" class="btn btn-default btn-lg">Know more <i class="fa fa-arrow-circle-right"></i></a>
		    	</div>
	    	</div>
	    	<div class="aboutBlocks aboutBlocksNo2">
	    		<i class="fa fa-line-chart"></i>
	    		<h3>Objective</h3>
				<div class="aboutBlocksInner">					
		    		<p>"Our objective is to consistently provide competent services for your company with a high level of quality, honesty and integrity."</p>
		    		<a href="#" class="btn btn-default btn-lg">Know more <i class="fa fa-arrow-circle-right"></i></a>
		    	</div>
	    	</div>
	    	<div class="aboutBlocks aboutBlocksNo3">
	    		<i class="fa fa-eye"></i>
	    		<h3>Vision</h3>
				<div class="aboutBlocksInner">					
		    		<p>"To turn your company from an idea to a reality."</p>
		    		<a href="#" class="btn btn-default btn-lg">Know more <i class="fa fa-arrow-circle-right"></i></a>
		    	</div>
	    	</div>
	    	<div class="aboutBlocks aboutBlocksNo4">
	    		<i class="fa fa-globe"></i>
	    		<h3>Mission</h3>
				<div class="aboutBlocksInner">					
		    		<p>To provide a complete experience, adapted to our clients´ needs and requirements, through efficiency and speed.</p>
		    		<a href="#" class="btn btn-default btn-lg">Know more <i class="fa fa-arrow-circle-right"></i></a>
		    	</div>
	    	</div>
		</div>
    </section><!-- End of aboutSection -->

    <!-- servicesSection -->
    

	<!-- ourGroupSection -->
	<!-- <div class="ourGroupSection">
		<div class="ourGroupSectionHalf"></div>
		<div class="containerWrapper">
			<div class="col-md-offset-6 col-md-6">
				<h2 class="heading-center">Our Group</h2>
				<div class="row">
					<div class="owl-carousel moreItemsCarousel" id="ourGroupSlider">
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/gdg.png" alt="" /></a>
								<h3 class="heading">Global Development Group</h3>
							</div>
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/mu.png" alt="" /></a>
								<h3 class="heading">Muamalat</h3>
							</div>
						</div>
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/ah.png" alt="" /></a>
								<h3 class="heading">Al Hail Holding</h3>
							</div>
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/GP.png" alt="" /></a>
								<h3 class="heading">Global Petroleum Business & Trading Est.</h3>
							</div>
						</div>
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/Dmall.png" alt="" /></a>
								<h3 class="heading">Dalma Mall</h3>
							</div>
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/Jets.png" alt="" /></a>
								<h3 class="heading">Al Jazirah Equipment & Technical Services</h3>
							</div>
						</div>
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/asc.png" alt="" /></a>
								<h3 class="heading">Global Ascent Busness Center</h3>
							</div>
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/De.png" alt="" /></a>
								<h3 class="heading">Darwish Engineering Emirates</h3>
							</div>
						</div>
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/dc.png" alt="" /></a>
								<h3 class="heading">Darwish Contracting Establishment</h3>
							</div>
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/ahr.png" alt="" /></a>
								<h3 class="heading">Al Hosn Research & Studies Center </h3>
							</div>
						</div>
						<div class="item">
							<div class="serviecBlock">
								<a href="#"><img src="assets/images/dt.png" alt="" /></a>
								<h3 class="heading">Darwish Trading Establishment</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div> <!-- End of ourGroupSection -->

	<!-- clientsSection -->
	

    <!-- footer -->
	<div class="footer">
		<div class="containerWrapper">
			<div class="row">
				<div class="col-md-offset-1 col-md-6 col-sm-6">
					<h3 class="heading-center">Let's Talk</h3>
					<form class="enquiry-form row text-center" action="#" method="post">
                        <div class="col-sm-6">
                            <label>Name *</label>
                            <div class="enq-formgroup">
                                <i class="fa fa-user"></i>
                                <input name="name" required="required" type="text" placeholder="Name*">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Phone No. *</label>
                            <div class="enq-formgroup">
                                <i class="fa fa-phone"></i>
                                <input name="contact" required="required" type="text" placeholder="Phone No.">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Email ID *</label>
                            <div class="enq-formgroup">
                                <i class="fa fa-at"></i>
                                <input name="email" required="required" type="email" placeholder="Email ID *">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Subject *</label>
                            <div class="enq-formgroup">
                                <i class="fa fa-envelope"></i>
                                <input name="subject" required="required" type="text" placeholder="Subject *">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <!-- <label>Enter The Message*</label> -->
                            <div class="enq-formgroup textareabox">
                                <i class="fa fa-list"></i>
                                <textarea rows="5" name="comment" required="required" placeholder="Enter The Message*"></textarea>
                            </div>
                            <div class="clear"></div>
                            <button type="submit" class="btn-transparent btn-rounded"><i class="fa fa-paper-plane"></i>  Send Message</button>
                        </div>
                    </form>
				</div>
				<div class="col-md-4 col-sm-4">
					<h3 class="heading-center">About Us</h3>
					<p>For over 20 years, EMS offered government, corporate and legal support for many local, international and multinational organizations in Abu Dhabi and Dubai. EMS provides all what you need to build up your firm; from issuing license, approvals to business consultancy and PRO services to company formation.</p>
					<a href="#" class="btn-transparent btn-rounded">Know more <i class="fa fa-arrow-circle-right"></i></a>
				</div>
				<div class="space5">
					<hr />
				</div>				
				<div class="col-md-offset-1 col-md-10 col-sm-10">
					<h3 class="heading">Contact Info</h3>
					<div class="row">
						<!-- <div class="col-sm-3">
							<iframe src="https://www.google.com/maps/place/Shrama+Sadhana+Bombay+Trust's+College+Of+Engineering+And+Technology/@21.0148623,75.5029241,15z/data=!4m12!1m6!3m5!1s0x0:0xa4ecb7d7c8165e79!2sShrama+Sadhana+Bombay+Trust's+College+Of+Engineering+And+Technology!8m2!3d21.0148623!4d75.5029241!3m4!1s0x3bd9106aa2bf8e7f:0xa4ecb7d7c8165e79!8m2!3d21.0148623!4d75.5029241" width="100%" height="230" frameborder="0" style="border:0" allowfullscreen=""></iframe>
						</div> -->
						<div class="col-sm-3">
							<div class="addressInfo">
								<h4>Maharashtra</h4>
								<p>Address: SSBT's College Of Engineering and Technology, Bambhori Jalgaon</p>
								<p><i class="fa fa-map-marker"></i> P.O. Box No.:425002</p>
								<p><i class="fa fa-phone"></i> Tel: +91 9309517351</p>
								<p><i class="fa fa-fax"></i> Fax: +91 9834117939</p>
								<p><i class="fa fa-at"></i> sonawanerohit2408@gmail.com</p>
								<p><i class="fa fa-globe"></i> pandepiyush1371@gmail.com</p>
							</div>
						</div>
						
					</div>					
				</div>
			</div>
			<div class="space5 text-center">
				<div class="footer-social">
	                <a href="#" class="footerfacebookLink" target="_blank"><i class="fa fa-facebook"></i></a>
	                <a href="#" class="footertwitterLink" target="_blank"><i class="fa fa-twitter"></i></a>
	                <a href="#" class="footerpinterestLink" target="_blank"><i class="fa fa-instagram"></i></a>
	                <a href="#" class="footerlinkedinLink"><i class="fa fa-linkedin"></i></a>
	            </div>
	        </div>
		</div>
	</div>
	<div class="footerStrip">
		Copyright &copy; 2017, Elevate - Regional Transliteration Service - All Rights Reserved, Designed & Developed by <a href="http://www.etcsfzc.com/" target="_blank">Team Elevate</a>
	</div>
	<!-- End of footer -->

    <!--Scroll to top-->
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

    <!-- jQuery library -->
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="assets/js/modernizr.custom.js"></script>

    <!-- jQuery -->

    <!-- Fancybox jQuery -->
    <script type="text/javascript" src="assets/fancybox/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="assets/fancybox/jquery.fancybox.js?v=2.1.4"></script>

    <!-- FlexSlider & Owl carousal -->
    <script defer src="assets/flexslider/jquery.flexslider.js"></script>
    <script type="text/javascript" src="assets/owl/owl.carousel.js"></script>

    <!-- bootstrap slider -->
    <script type="text/javascript" src="assets/slider/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="assets/slider/bootstrap-touch-slider.js"></script>

    <script type="text/javascript" src="assets/js/animated-headline.js"></script>

    <!--scrollreveal-->
    <script type="text/javascript" src="assets/js/scrollreveal.min.js"></script>

    <!-- custom jquery -->
    <script type="text/javascript" src="assets/js/jquery.js"></script>

</body>
</html>